html{
  background-color: rgb(78, 66, 77);
  margin: 0,0,0,0;
}

#description{
  color: rgb(143, 167, 255);
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.25;
}

#style1{
  height: 600px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#style2{
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#style3{
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#style4{
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.style1{
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.style2{
  height: 690px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.break{
  color:rgb(143, 167, 255);
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

a:link{
  color: rgb(143, 167, 255);
  /* color: black; */
  text-decoration: none;
  /* background-color: rgb(228, 228, 219); */
  /* transform: rotateZ(30deg); */

}

a:active{
  color: rgb(143, 167, 255);
  color: black;
  text-decoration: none;
  /* background-color: rgb(228, 228, 219); */
}

a:hover{
  /* font-style: italic; */
  background-color: rgb(70, 110, 198);
  color: rgb(143, 167, 255);
  display: inline-block;
  /* transform: rotateZ(4deg); */
    border-bottom: 1.5px dotted rgb(143, 167, 255);
}

a:visited{
  color: rgb(143, 167, 255);
  /* color: black; */
  text-decoration: none;
  /* background-color: rgb(228, 228, 219); */
}
